*.ipynb 
Datasets/*
Models/*
Figures/*
venv/*
src/__pycache__/*
*/__pycache__/*
src/graphics/*
src/output/*
workspace.code-workspace
testing.py
src/results.txt
src/test_mask.py
src/test.wav
src/evaluate+adversarial_files.p
src/temp/*
src/save/*
src/evaluate_adversarial_files.py
src/00f0204f_nohash_0.wav